<div class="wrapper">

	<div class="entry-header clearfix">
		<nav id="main-nav">
			<ul class="unstyled">
				<li class="main-nav-item"><a href="#" class="home-item">Accueil</a></li>
				<li class="main-nav-item"><a href="#" class="active">Artistes</a></li>
				<li class="main-nav-item"><a href="#">Galeries</a></li>
			</ul>
		</nav><!-- .main-nav -->
		<p class="go-back">
			<a href="#">Retour</a>
		</p>
		<div class="entry-content">
			<section>
				<h1 class="entry-title">
					{{artist.name}}
				</h1>
				<div class="entry-meta clearfix">
					{{labels.genre[artist.genre]}} - {{artist/age}} ans
					<ul class="unstyled">
						<li ng-repeat="link in artist_links" class="entry-meta-item"><a href="{{link.url}}" target="_blank">{{title}}</a></li>
					</ul>
				</div>
			</section>
			<aside>
				<div class="entry-description">
					<div class="inner">
						<p><strong>En 2013,</strong> cet artiste <br />a exposé dans <strong>13 pays</strong> <br />via <strong>26 expositions</strong>.</p>
					</div><!-- .inner -->
				</div><!-- .entry-description -->
			</aside>
		</div><!-- .entry-content -->
	</div><!-- .entry-header -->

	<div class="main clearfix">

		<div class="sidebar left-sidebar">
			<form action="about:blank">

				<fieldset>
					<legend>Période</legend>
					<ul class="unstyled filter">
						<li ng-repeat="period in periods">
							<input type="radio" name="period" id="period-{{period.slug}}" value="{{period.slug}}" ng-model="$parent.filters.period" {period.checked} />
							<label for="period-{{period.slug}}">
								{{period.name}}
							</label>
						</li>
					</ul>
				</fieldset>

			</form>

			<div class="legend">
				<fieldset>
					<legend>Légende</legend>
					<dl>
						<dt>Type d'exposition</dt>
						<dd><strong>Solo</strong> 3</dd>
						<dd><strong>Collective</strong> 23</dd>
						<dt>Organisateur</dt>
						<dd><strong>Institution publique</strong> 14</dd>
						<dd><strong>Structure privée</strong> 14</dd>
						<dd><strong>Grande manifestation</strong> 14</dd>
						<dd><strong>Autre</strong> 14</dd>
					</dl>
				</fieldset>
			</div><!-- .legend -->

		</div><!-- .left-sidebar -->

		<div class="content">

			<div id="canvas"></div>

			&nbsp;


			<div class="content-block">
				<p>
					<strong>87%</strong>
					d'expositions à l'étranger
				</p>
			</div><!-- .content-block -->

			<div class="right-sidebar artist-details-sidebar">
				<form action="about:blank">
					<input type="text" value="" class="input-sidebar" placeholder="Rechercher une exposition..." />
					<ul class="unstyled">
						<li ng-repeat="news in artist_news"  class="exposition-item"><a href="{{news.url}}" target="_blank" class="{{news.color}}">{{title}}</a></li>
					</ul>
				</form>

				<div class="news-block">
					<h2>Actualités</h2>
					<ul class="unstyled">
						<li ng-repeat="news in artist_news"  class="exposition-item"><a href="{{news.url}}" target="_blank" class="{{news.color}}">{{title}}</a></li>
					</ul>
				</div><!-- .news-block -->

			</div><!-- .right-sidebar -->

		</div><!-- .content -->
	</div><!-- .main -->

</div><!-- .wrapper -->
