<div class="wrapper">

	<div class="entry-header clearfix">
		<nav id="main-nav">
			<ul class="unstyled">
				<li class="main-nav-item"><a href="/arts-visuels/" class="home-item">Accueil</a></li>
				<li class="main-nav-item"><a href="/arts-visuels/artistes/" class="active">Artistes</a></li>
				<li class="main-nav-item"><a href="/arts-visuels/galeries/">Galeries</a></li>
			</ul>
		</nav><!-- .main-nav -->
		<p class="go-back">
			<a href="#" ng-click="goBack();">Retour</a>
		</p>
		<div class="entry-content">
		</div><!-- .entry-content -->
	</div><!-- .entry-header -->

	<div class="row main">

		<div class="col sidebar left-sidebar">

			<section>
				<h1 class="entry-title">
					EXPLORATION <br />PAR <strong>ARTISTE</strong>
				</h1>
			</section>

			<div class="sidebar-inner">

				<span>{{textOnPathDone}}</span>

				<form class="sidebar-form">

					<fieldset>
						<legend class="expandable"><span class="icon-genre">Genre</span></legend>
						<ul class="unstyled filter js-expandable">
							<li ng-repeat="genre in genres">
								<input type="checkbox" ng-model="genre.checked" id="genre-{{genre.slug}}" ng-change="updateFilters()" />
								<label for="genre-{{genre.slug}}">
									{{genre.name}}
								</label>
							</li>
						</ul>
					</fieldset>

					<fieldset>
						<legend class="expandable"><span class="icon-age">Âge</span></legend>
						<ul class="unstyled filter js-expandable">
							<li ng-repeat="age in ages">
								<input type="checkbox" ng-model="age.checked" id="age-{{age.slug}}" ng-change="updateFilters()" />
								<label for="age-{{age.slug}}">
									{{age.name}}
								</label>
							</li>
						</ul>
					</fieldset>

					<fieldset>
						<legend class="expandable"><span class="icon-period">Période</span></legend>
						<ul class="unstyled filter js-expandable">
							<li ng-repeat="period in periods">
								<input type="radio" name="period" id="period-{{period.slug}}" value="{{period.slug}}" ng-model="$parent.filters.period" {period.checked} />
								<label for="period-{{period.slug}}">
									{{period.name}}
								</label>
							</li>
						</ul>
					</fieldset>
				</form>

			</div>

		</div><!-- .left-sidebar -->

		<div class="col content">
			<div class="content-block">
				<div id="canvas"></div>
				<div id="popup"></div>
			</div><!-- .content-block -->
		</div><!-- .content -->

		<div class="col right-sidebar">
			<aside>
				<div class="entry-description">
					<div class="inner">
						<p></p>
					</div><!-- .inner -->
				</div><!-- .entry-description -->
			</aside>

			<form class="sidebar-form-right">
				<input type="text" value="" class="input-sidebar" placeholder="Rechercher un artiste..." ng-model="searchText" ng-change="updateArtists()"  />
				<ul class="artists-list unstyled">
<!--
					<li ng-repeat="artist in artists" class="artist-item {{artist.enabled}}" ng-click="showArtist(artist.id)">
						<a href="#" id="artist-{{artist.id}}">
							{{artist.name}}
						</a>
					</li>
-->
				</ul>
			</form>
		</div><!-- .right-sidebar -->
	</div><!-- .row -->


</div><!-- .wrapper -->

	<div class="credits" ng-include="'/arts-visuels/partials/footer.html'"></div><!-- .credits -->
