	<div class="credits">
		<ul class="unstyled">
			<li class="credits-item"><a href="#" target="_blank"><img src="/arts-visuels/assets/images/logo-ministere-affaires-etrangeres.png" class="logo-diplomatie" alt=""></a></li>
			<li class="credits-item"><a href="#" target="_blank"><img src="/arts-visuels/assets/images/logo-institut-francais.png" alt=""></a></li>
		</ul>
	</div>

	<div class="nav-language">
		<ul class="unstyled">
			<li class="nav-language-item"><a href="#" class="fr" ng-click="setLang('fr')">Version française</a> | </li>
			<li class="nav-language-item"><a href="#" class="en" ng-click="setLang('en')">English version</a></li>
		</ul>
	</div><!-- .nav-language -->

	<div class="about">
		<a onClick="jQuery.colorbox({inline:true, href:'#about-inner'});">Plus d'informations</a>
		<div class="about-inner">
			<div id="about-inner">
				<div class="fr">
					<ul>
						<li>IFdata - arts-visuels est une application web créée à l'initiative de l'Institut français avec le soutien du ministère de la Culture </li>
						<li>Conception et développement : Ask Média http://askmedia.fr/</li>
						<li>Source des données : ArtFacts http://www.artfacts.net/</li>
						<li>Contact : ifdata@institutfrancais.com</li>
					</ul>
				</div>
				<div class="en">
					<ul>
						<li>IFdata - arts-visuels is a web application created for the Institut français with the support of the French minister of culture.</li>
						<li>Design and development : Ask Média http://askmedia.fr/</li>
						<li>Data : ArtFacts http://www.artfacts.net/</li>
						<li>Contact : ifdata@institutfrancais.com</li>
					</ul>
				</div>
			</div>
		</div>
	</div>