<div class="wrapper">

	<div class="home-block">
		<a href="/artistes/" class="artists" translate>Artistes</a>
		<a href="/galeries/" class="galleries" translate>Galeries</a>
		<img src="/assets/images/visuel-hp-new.png" alt="" />
	</div><!-- .home-block -->

	<div class="home-artist">
		<h2></h2>
	</div><!-- .home-artist -->
	<div class="home-galerie">
		<h2></h2>
	</div><!-- .home-galerie -->
	<div class="news-block">
		<h2>Actualités</h2>
		<ul class="unstyled"></ul>
	</div><!-- .news-block -->

	<div class="footer" ng-include="'/partials/footer.html'"></div><!-- .credits -->

	<div id="canvas"></div>

</div><!-- .wrapper -->

