<div class="wrapper">

	<div class="home-block">
		<a href="/arts-visuels/artistes/" class="artists" translate>Artistes</a>
		<a href="/arts-visuels/galeries/" class="galleries" translate>Galeries</a>
		<img src="/arts-visuels/assets/images/visuel-hp-new.png" alt="" />
	</div><!-- .home-block -->

	<div class="home-artist">
		<h2></h2>
	</div><!-- .home-artist -->
	<div class="home-galerie">
		<h2></h2>
	</div><!-- .home-galerie -->
	<div class="news-block">
		<h2>Actualités</h2>
		<ul class="unstyled">
			<li class="news-block-item"><a href="#"><strong>Materializing Six Years: Lucy R. Lippard and the Emergence of Conceptual Art</strong> @New York -  USA / 2 février - 3 mars 2014 </a></li>
			<li class="news-block-item"><a href="#"><strong>Una ﬁnestra sul mondo - Da Dürer a Mondrian e oltre</strong> @New York -  USA / 2 février - 3 mars 2014 </a></li>
		</ul>
	</div><!-- .news-block -->

	<div class="footer" ng-include="'/arts-visuels/partials/footer.html'"></div><!-- .credits -->

	<div id="canvas"></div>

</div><!-- .wrapper -->

