<div class="wrapper">

	<div class="home-block">
		<a href="/artistes/" class="artists">Artistes</a>
		<a href="/galeries/" class="galleries">Galeries</a>
		<img src="/assets/images/visuel-hp-new.png" alt="" />
	</div><!-- .home-block -->

	<div class="home-artist">
		<h2>
			<strong>Actuellement <br />111 artistes</strong> français <br />exposent dans<br /><strong>22 pays.</strong>
		</h2>
	</div><!-- .home-artist -->
	<div class="home-galerie">
		<h2>
			<strong>En 2014 <br />145 galeries</strong><br /> françaises exposent<br /> dans <strong>22 pays.</strong>
		</h2>
	</div><!-- .home-galerie -->
	<div class="news-block">
		<h2>Actualités</h2>
		<ul class="unstyled">
			<li class="news-block-item"><a href="#"><strong>Materializing Six Years: Lucy R. Lippard and the Emergence of Conceptual Art</strong> @New York -  USA / 2 février - 3 mars 2014 </a></li>
			<li class="news-block-item"><a href="#"><strong>Una ﬁnestra sul mondo - Da Dürer a Mondrian e oltre</strong> @New York -  USA / 2 février - 3 mars 2014 </a></li>
		</ul>
	</div><!-- .news-block -->

	<div class="credits" ng-include="'/partials/credits.html'"></div><!-- .credits -->

	<div class="nav-language">
		<ul class="unstyled">
<!-- 			<li class="nav-language-item"><a href="#" class="active">Version française</a> | </li>
			<li class="nav-language-item"><a href="#">English version</a></li>
 -->		</ul>
	</div><!-- .nav-language -->

</div><!-- .wrapper -->

