<div class="wrapper">

	<div class="entry-header clearfix">
		<nav id="main-nav">
			<ul class="unstyled">
				<li class="main-nav-item"><a href="/" class="home-item">Accueil</a></li>
				<li class="main-nav-item"><a href="/artists" class="active">Artistes</a></li>
				<li class="main-nav-item"><a href="/galeries">Galeries</a></li>
			</ul>
		</nav><!-- .main-nav -->
		<p class="go-back">
			<a href="#">Retour</a>
		</p>
		<div class="entry-content">
			<section>
				<h1 class="entry-title">
					EXPLORATION <br />PAR <strong>ARTISTE</strong>
				</h1>
			</section>
			<aside>
				<div class="entry-description">
					<div class="inner">
						<p></p>
					</div><!-- .inner -->
				</div><!-- .entry-description -->
			</aside>
		</div><!-- .entry-content -->
	</div><!-- .entry-header -->

	<div class="main clearfix">

		<div class="sidebar left-sidebar">
			<form action="about:blank">
				<fieldset>
					<legend>Genre</legend>
					<ul class="unstyled filter">
						<li ng-repeat="genre in genres">
							<input type="checkbox" ng-model="genre.checked" id="genre-{{genre.slug}}" ng-change="updateFilters()" />
							<label for="genre-{{genre.slug}}">
								{{genre.name}}
							</label>
						</li>

					</ul>
				</fieldset>

				<fieldset>
					<legend>Âge</legend>
					<ul class="unstyled filter">
						<li ng-repeat="age in ages">
							<input type="checkbox" ng-model="age.checked" id="age-{{age.slug}}" ng-change="updateFilters()" />
							<label for="age-{{age.slug}}">
								{{age.name}}
							</label>
						</li>

					</ul>
				</fieldset>

				<fieldset>
					<legend>Période</legend>
					<ul class="unstyled filter">
						<li ng-repeat="period in periods">
							<input type="radio" name="period" id="period-{{period.slug}}" value="{{period.slug}}" ng-model="$parent.filters.period" {period.checked} />
							<label for="period-{{period.slug}}">
								{{period.name}}
							</label>
						</li>
					</ul>
				</fieldset>
			</form>

		</div><!-- .left-sidebar -->

		<div class="content">

			<div id="canvas"></div>

			&nbsp;
			<div class="right-sidebar">
				<form action="about:blank">
					<input type="text" value="" class="input-sidebar" placeholder="Rechercher un artiste..." ng-model="searchText" ng-change="updateArtists()"  />
					<ul class="artists-list unstyled">
						<li ng-repeat="artist in artists" class="artist-item {{artist.enabled}}">
							<a href="#" id="artist-{{artist.id}}">
								{{artist.name}}
							</a>
						</li>
					</ul>
				</form>
			</div><!-- .right-sidebar -->
		</div><!-- .content -->
	</div><!-- .main -->

</div><!-- .wrapper -->





